.row {
    display: flex;
    margin: 20px 0;

    @include media-q(xs) {
        margin: 5px 0;
   }
}

.column {
    display: flex;
    flex-direction: column;
}

.scroll-hidden {
    overflow: hidden;
}
